<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <body>
        <div class="not-found content">
            OOPS , Page Not Found
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>