<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First node Project</title>
    </head>
    <body>
        <nav>
            <div class="sit-title">
                <a href="/"><h1>Home</h1></a>
                <p>my Resume Project</p>
            </div>
        
            <ul>
                <li><a href="/">HomePage</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>

        </nav>
        <div class="blogs content">
            <h2>about me</h2>
        </div>
    </body>
</html>