<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <body>
        
        <div class="blogs content">
            <h2>about me</h2>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>